{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for paint in paints %}
                <td><a href="{{ path('detail', {id:paint.id}) }}"><img src="{{ asset('img/paints/' ~ paint.image) }}"
                                                                       class="img-thumbnail" alt=""></a></td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}